<app-dialog></app-dialog>

<ul>
    <li *ngFor="let candidate of  candidates$ | async">
        <a [routerLink]="['/home/candidate-edit', candidate.id]" class="edit orange"><i class="fas fa-pen"></i></a>
        <div class="header">
            <h3>{{ candidate.firstName }} {{ candidate.lastName }}</h3>
            <p class="snn">{{ candidate.ssn }}</p>
        </div>
        <div class="candidate-info">
            <div class="info">
                <p class="info-title">Gender</p>
                <p class="info-data">{{ candidate.gender }}</p>
            </div>
            <div class="info">
                <p class="info-title">Date of Birth</p>
                <p class="info-data">{{ candidate.date }}</p>
            </div>
            <div class="info">
                <p class="info-title">Location</p>
                <p class="info-data">{{ candidate.state }}</p>
            </div>
            <div class="info">
                <p class="info-title">Phone Number</p>
                <p class="info-data">{{ candidate.phoneNumber }}</p>
            </div>
            <div class="info">
                <p class="info-title">Email ID</p>
                <p class="info-data">{{ candidate.email }}</p>
            </div>
        </div>
        <p class="date">{{ candidate.created | date:'medium' }} </p>
    </li>
</ul>