<div class="side-bar">
    <a routerLink="/home/candidate-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="side-bar-item"><i class="far fa-sticky-note"></i> Manage Candidates</a>
    <a routerLink="/home/manage-forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="side-bar-item"><i class="far fa-file-alt"></i> Manage Forms</a>
    <a routerLink="/home/candidate-reviews" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="side-bar-item"><i class="fas fa-scroll"></i> Reviews</a>
</div>